<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Liste des ouvrages</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">



</head>

<body style="background-color:#F0E0B5;">

<div th:replace="~{fragments/Header :: header}"></div>

<div th:replace="~{fragments/Nav :: nav}"></div>

<div th:if="${ouvrages.isEmpty()}" >

<div class="row">


<H3 style="margin-left:150px; margin-bottom:300px; margin-top:40px;" >Aucun ouvrage ne correspond à vos critères de recherche!</H3>


</div>
</div>

 <div th:each="ouvrage : ${ouvrages}" >
  <div class="card col-md-4 mx-auto mt-4 text-center" style="background-color:#F0E0B5;margin:13px">


    <div class="row">
    
            
                <h1 style="padding:15px;text-align: center"th:text= "${ouvrage.titre}"></h1>
                <img th:src="${ouvrage.image}"  class="card-img-top" />
                <div class="card-body">
                <h4 class="card-title">Caractéristiques</h4>
                <ul class="text-left" style="margin:13px">
                <li th:text= "|Auteur : ${ouvrage.auteur}|"></li>
                <li th:text= "|Catégorie: ${ouvrage.categorie}|"></li>
                <li th:text= "|Année de parution: ${ouvrage.anneeParution}|"></li>
                <li th:text= "|Resumé: ${ouvrage.resume}|"></li>
               
               
                </ul>
                
                <div th:if="${ouvrage.disponibilite}">
                <button class="btn btn-large btn-success" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                Disponible
                </button>
                <div class="collapse" id="collapseExample1">
                <div class="card card-body" th:text="|Cet ouvrage est disponible en ${ouvrage.nombreExemplaires} exemplaire(s)|"></div>
                </div>
                </div>
      
                <div th:unless="${ouvrage.disponibilite}">
                  <button class="btn btn-large btn-danger" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                Indisponible
                </button>
                <div class="collapse" id="collapseExample1">
                <div class="card card-body" th:text="|Cet ouvrage est indisponible|"></div>
                </div>
                </div>
      
      
      
                </div>   
                </div>
                </div>
                </div>






<div th:replace="~{fragments/Footer :: footer}"></div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.3.3/umd/popper.min.js"></script> 

</body>
</html>