<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Footer</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>

	<footer th:fragment="footer">

		<div class="row" style="height: 110px"></div>

		<div class="row font-small bg-dark"
			style="position: fixed; bottom: 0; width: 100%">

			<div class="col-xs-12 col-md-12">
				<nav class="navbar  navbar-light bg-dark navbar-expand-sm">
					<a class="navbar-brand" href="#">Follow us:</a>
					<ul class="navbar-nav">
						<li class="nav-item"><a href="#" class="nav-link"><img
								src="http://icons.iconarchive.com/icons/yootheme/social-bookmark/48/social-facebook-box-blue-icon.png"
								alt="facebook"></a></li>
						<li class="nav-item"><a href="#" class="nav-link"><img
								src="http://icons.iconarchive.com/icons/designbolts/free-instagram/48/Active-Instagram-3-icon.png"
								alt="instagram"></a></li>
						<li class="nav-item"><a href="#" class="nav-link"><img
								src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/48/Communication-gmail-icon.png"
								alt="instagram"></a></li>
					</ul>
				</nav>
			</div>
		</div>

		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			type="text/javascript"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			type="text/javascript"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.3.3/umd/popper.min.js"
			type="text/javascript"></script>


	</footer>
</body>
</html>